ื<footer>
    <nav class="bg-gray-900 p-8 flex justify-center items-center">
        <p class="text-white">Khachenchai Jaikla Copyright &#169; 2022-<%= new Date().getFullYear() %></p>
    </nav>
</footer>

</body>
</html>